/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* wallust-wlogout */

/* Importing wallust colors */
@import '../../.config/waybar/wallust/colors-waybar.css';

* {
    background-image: none;
    font-size: 12pt;
}

window {
    font-family: General Sans;
    font-weight: 500;
    /* font-size: 12px; */
    color: #cdd6f4;
    /* text */
    background-image: url("../../.config/hypr/wallpaper_effects/.wallpaper_modified");
    background-size: cover;
    /* background-color: rgba(30, 30, 46, 0.75); */
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    background-color: rgba(30, 30, 46, 0.9);
    animation: gradient_f 20s ease-in infinite;
    /* transition: all 0.2s cubic-bezier(.55, 0.0, .28, 1.682), border-radius 0.1s linear; */
    border-radius: 0px;
    outline-style: none;
    border: none;
    border-width: 0px;
    min-width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: none;
    text-shadow: none;
}

button:focus {
    background-color: rgba(255, 255, 255, 0.33);
    border: 0px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.33);
    color: #ffffff;
    background-size: 35%;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682);
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1.2em;
    /* Increase the font size */
}

button label {
    font-size: 0.9em;
}

#lock {
    /* background-color: rgba(255, 255, 255, 0.33); */
    background-image: image(url("./icons/Lock.svg"));
    border-radius: 15px 0px 0px 15px;
}

#lock:hover {
    /* background-image: image(url("./icons/Lock-dark.svg")); */
    border-radius: 15px;
}

/* #lock:hover {
    background-image: image(url("./icons/lock-hover.png"));
} */

#logout {
    background-image: image(url("./icons/Logout.svg"));
    /* border-radius: 0px 0px 0px 0px; */
}

/* #logout:hover {
    background-image: image(url("./icons/logout-hover.png"));
} */

#suspend {
    background-image: image(url("./icons/Suspend.svg"));
    /* border-radius: 0px 0px 0px 0px; */
}

/* #suspend:hover {
    background-image: image(url("./icons/Suspend-dark.svg"));
} */

#shutdown {
    background-image: image(url("./icons/Shutdown.svg"));
    /* border-radius: 0px 0px 0px 0px; */
}

/* #shutdown:hover {
    background-image: image(url("./icons/Shutdown-dark.svg"));
} */

#reboot {
    background-image: image(url("./icons/Reboot.svg"));
    /* border-radius: 0px 0px 0px 0px; */

}

/* #reboot:hover {
    background-image: image(url("./icons/Reboot-dark.svg"));
} */

#hibernate {
    background-image: image(url("./icons/Hibernate.svg"));
    border-radius: 0px 15px 15px 0px;
}

#hibernate:hover {
    background-image: image(url("./icons/Hibernate-dark.svg"));
    border-radius: 15px;
    color: rgba(30, 30, 46, 0.75);
}

/* #hibernate:hover {
    background-image: image(url("./icons/hibernate-hover.png"));
} */