/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Rofi Config for Google Search) */

@import "~/.config/rofi/master-config.rasi"  

/* ---- Window ---- */
window {
	width: 40%;
    y-offset: 6px;
    location: north;
    border-radius: 5px;
    background-color: transparent;
}

/* ---- Inputbar ---- */
inputbar {
    enabled: true;
    orientation: vertical;
}

/* ---- Mainbox ---- */
mainbox {
	padding: 0px;
    children: ["entry"];
}

/* ---- Entry ---- */ 
entry {
	placeholder: "Chercher sur CanardCanardAllez";
    width: 100%;
}

