/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config - emoji */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: "Click or Return to choose | Ctrl V to Paste";
}

listbox {
  margin: 0;
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}

imgbox {
  enabled: false;
}