/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config 1080p */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Window ---- */
window {
    width:	700px;
}
/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 6;
  fixed-height:	true;
}

/* ---- Element ---- */
element {
  orientation: horizontal;
  padding: 10px 5px 10px 10px;
  spacing: 6px;
}

element-icon {
  size: 24px;
  margin: 0 12 0 0;
}

element-text {
  font: "General Sans Medium 10";
  horizontal-align: 0;
}