 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #727272;
active-foreground: #E1E1E1;
normal-background: #000000;
normal-foreground: #E1E1E1;
urgent-background: #9C9C9C;
urgent-foreground: #E1E1E1;

alternate-active-background: #808080;
alternate-active-foreground: #E1E1E1;
alternate-normal-background: #000000;
alternate-normal-foreground: #E1E1E1;
alternate-urgent-background: #000000;
alternate-urgent-foreground: #E1E1E1;

selected-active-background: #727272;
selected-active-foreground: #E1E1E1;
selected-normal-background: #CCCCCC;
selected-normal-foreground: #E1E1E1;
selected-urgent-background: #9C9C9C;
selected-urgent-foreground: #E1E1E1;

background-color:rgb(0, 0, 0);
background: rgba(0,0,0,0.7);
foreground: #CCCCCC;
border-color: #727272;
}

